<div class="theme-container">
  <mat-form-field appearance="outline" class="theme-select-field">
    <mat-label>Select Vertical</mat-label>
    <mat-select [(ngModel)]="selectedVertical" (selectionChange)="onVerticalChange()">
      <mat-option *ngFor="let vertical of verticals" [value]="vertical.verticalId">
        {{ vertical.verticalname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="templates.length && selectedVertical" class="theme-list">
    <div
      *ngFor="let template of templates"
      (click)="selectedTheme = template.templateId; onThemeChange()"
      [class.selected]="selectedTheme === template.templateId"
      class="theme-card"
    >
      {{ template.templatename }}
    </div>
  </div>
</div>
