.header-bar {
  display: flex;
  align-items: center;
  background: #d76e3a;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0;
}

.menu-area {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.stepper-track {
  flex: 1 1 auto; /* Take up all remaining space */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the steps horizontally */
  gap: 0;
}

.profile-area {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.step-item {
  display: flex;
  align-items: center;
}
.circle {
  display: flex;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #bbb;
  font-weight: bold;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 2px solid #bdbdbd;
  margin-left: 10px;
}
.circle.step-current {
  background: #fff;
  color: #d76e3a;
  border: 2px solid #d76e3a;
}
.line {
  width: 300px;
  height: 2px;
  background: #bdbdbd;
  margin: 0 4px;
}
.tick .mat-icon { color: #bbb; font-size: 30px; margin-left: 12px; }
.tick.tick-complete .mat-icon { color: #d76e3a; }
