.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.tabs .tab {
  padding: 8px 16px;
  cursor: default;
  user-select: none;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  color: #aaa;
}

.tabs .tab.active {
  color: #d76e29;
  border-bottom-color: #d76e29;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 12px;
  height: calc(100vh - 140px);
  padding: 10px;
  background: #f9f7f1;
  overflow: auto;
}

.part {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 4px 8px rgb(215 110 41 / 0.1);
  border-radius: 10px;
  padding: 16px;
  min-width: 350px;
  overflow-y: auto;
}

.tab-header {
  display: flex;
  border-bottom: 2px solid #ffd7a5;
  margin-bottom: 10px;
}

.tab-header span {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
  cursor: pointer;
  user-select: none;
  color: #bbb;
  border-bottom: 3px solid transparent;
  margin-right: 12px;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.tab-header span.active {
  border-bottom: 3px solid #f5a623;
  color: #f5a623;
  background-color: #fff6df;
}

button {
  padding: 10px 22px;
  margin: 16px 8px 0 0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.next-btn {
  background-color: #d76e29;
  color: #fff;
}

.next-btn:disabled {
  background-color: #f2d9b4;
  color: #aaa;
  cursor: not-allowed;
}

.back-btn {
  background-color: #f5f1e1;
  color: #d76e29;
  border: 1px solid #f5a623;
}

.back-btn:hover {
  background-color: #fbe8b8;
}
