<div class="campaign-details-panel">

  <form [formGroup]="campaignForm" class="campaign-form">

    <!-- Campaign Description -->
    <mat-card class="input-card">
      <div class="input-label">Campaign description</div>
      <textarea matInput
        formControlName="description"
        rows="5"
        class="scrollable-textarea"
        maxlength="500">
      </textarea>
      <mat-hint align="end">{{ campaignForm.get('description')?.value.length || 0 }}/500</mat-hint>
    </mat-card>

    <!-- Offer Details -->
    <mat-card class="input-card">
      <div class="input-label">Offer details</div>
      <textarea matInput
        formControlName="offer"
        rows="3"
        class="scrollable-textarea"
        maxlength="300">
      </textarea>
      <mat-hint align="end">{{ campaignForm.get('offer')?.value.length || 0 }}/300</mat-hint>
    </mat-card>

    <!-- Visual Imagery Style Description -->
    <mat-card class="input-card">
      <div class="input-label">Visual imagery style description</div>
      <textarea matInput
        formControlName="visual"
        rows="5"
        class="scrollable-textarea"
        maxlength="500">
      </textarea>
      <mat-hint align="end">{{ campaignForm.get('visual')?.value.length || 0 }}/500</mat-hint>
    </mat-card>

    <!-- Reference Image Upload -->
    <div class="file-input-container">
      <label class="file-label" mat-button>
        <mat-icon color="warn" fontSize="18px">image</mat-icon>
        Reference Image
        <input type="file" (change)="onFileSelected($event)" />
      </label>
      <span class="selected-file" *ngIf="campaignForm.value.referenceImage?.name">{{ campaignForm.value.referenceImage.name }}</span>
    </div>
  </form>
</div>