<div class="select-theme-container">
  <div class="vertical-section">
    <app-vertical-selector
      [verticals]="verticals"
      [selectedVertical]="selectedVertical"
      [selectedSubCategory]="selectedSubCategory"
      (verticalChange)="onVerticalChange($event)">
    </app-vertical-selector>
  </div>

  <div class="template-section">
    <app-template-list
      [templates]="templates"
      [selectedTemplateId]="selectedTemplateId"
      [loading]="loading"
      (templateSelect)="onTemplateSelect($event)">
    </app-template-list>
  </div>
</div>
