<div 
  class="template-card" 
  [class.selected]="isSelected"
  (click)="onCardClick()"
>
  <div class="card-image">
    <img [src]="template?.imageUrl" [alt]="template?.name" class="template-image">
    <div class="card-overlay">
      <div class="overlay-content">
        <h3 class="template-title">{{ template?.name }}</h3>
        <p class="template-description">{{ template?.description }}</p>
        <button class="shop-now-btn">Shop now</button>
      </div>
    </div>
  </div>
  
  <div class="card-footer">
    <div class="color-palette">
      <div 
        *ngFor="let color of template?.colors; let i = index" 
        class="color-swatch"
        [style.background-color]="color"
        [title]="'Color ' + (i + 1)"
      ></div>
    </div>
    
    <div class="selection-indicator">
      <div class="radio-button" [class.selected]="isSelected">
        <div class="radio-inner" *ngIf="isSelected"></div>
      </div>
    </div>
  </div>
</div>
